@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --tipografia:Arial, sans-serif;
    --color-bg:#3a3d4d;
    --color-surface:#101a29;
    --color-border:#2b2d3b;
    --fondo-header:rgb(4, 3, 32);
    --color-texto-primario:#ffffff;
    --color-texto-secundario:#9ca2b8;
    --color-tooltip-bg:#fff;
    --color-tooltip-text:#000;
    --shadow-border:rgba(255, 255, 255, 0.1);
    --user-bg-color:#fafafc;
}
body.dark-mode{
  --tipografia:Arial, sans-serif;
  --color-bg:#EBECF2;
  --color-surface:#FFFFFF;
  --color-border:#9a9be2;
  --fondo-header:rgb(200, 200, 245);
  --color-texto-primario:#000;
  --color-texto-secundario:#3F435D;
  --color-tooltip-bg:#2A2E33;
  --color-tooltip-text:#fff;
  --shadow-border:rgba(0, 0, 0, 0.1);
  --user-bg-color:#fafafc;
}
body{
  background: var(--color-bg);
  height: 100vh;
  color: black;
  font-family: var(--tipografia);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  transition: color 0.5s ease;
  background-color: 0.3s ease, left 0.5s ease;
}
/* Pre css */
.flex {
  display: flex;
  align-items: center;
}
.nav_image {
  display: flex;
  min-width: 25px;
  justify-content: center;
}
.nav_image img {
  height: 60px;
  width: 12rem;
  border-radius: 50%;
  object-fit: cover;
}


/* BUSCADOR DE USER */
.search-container {
  margin-bottom: 15px;
  width: 100%;
}

.search-input {
  width: 100%;
  padding: 12px 16px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  box-sizing: border-box;
  transition: 0.3s ease;
}

.search-input:focus {
  border-color: #0072ff;
  box-shadow: 0 0 8px #0072ff88;
}

/* ZONA DEL ADMIN */
main {
  margin-left: 15rem; 
  max-width: calc(100% - 15rem);
  padding: 20px;
  transition: margin-left 0.3s ease, max-width 0.3s ease;
}
.Tabla-Contenedor {
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  margin-top: 10px;
  border-radius: 12px;
  background-color: var(--color-surface);
  box-shadow: 0 0 15px var(--shadow-border);
  padding: 1rem;
}
table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--user-bg-color);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
th {
  text-align: left;
  padding: 12px 16px;
  font-weight: bold;
  border-bottom: 2px solid #ddd;
}
td {
  padding: 12px 16px;
  border-bottom: 1px solid var(--color-border);
}
tr:hover {
  background-color: rgb(221, 221, 221);
}
table td:first-child,
table th:first-child {
  width: 50px; 
  text-align: center;
}
table td:last-child,
table th:last-child {
  width: 180px; 
}
/* ESILO DE ROLES */
.role {
  padding: 4px 10px;
  border-radius: 4px;
  color: black;
  font-size: 0.9em;
  font-weight: bold;
}
.role.Administrador {
  background-color: #d32f2f;
}
.role.Cliente {
  background-color: #7e22ce;
}
.role.Supervisor {
  background-color: #388e3c;
}
.role.Tecnico{
    background-color: #00c6ff;
}
.action-buttons {
  display: flex;
  gap: 10px;
}
.btn {
  padding: 6px 12px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  font-size: 0.9em;
  transition: background 0.2s ease;
}
.edit-btn {
  background-color: #1976d2;
}
.edit-btn:hover {
  background-color: #1565c0;
}
.delete-btn {
  background-color: #d32f2f;
}
.delete-btn:hover {
  background-color: #c62828;
}
.created-at {
  color: #777;
  font-size: 0.85em;
}
table tr {
    border-bottom: 3px solid transparent;
}
.row-role-Supervisor {
    border-bottom: 5px solid #267a36;
}
.row-role-Admin {
    border-bottom: 5px solid #ff0000;
}
.row-role-Tecnico {
    border-bottom: 5px solid #00bbff;
}
.row-role-Cliente {
    border-bottom: 5px solid #7e22ce;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 75vh;
  padding: 20px;
}
h2{
  text-align: center;
  color: var(--color-texto-primario);
  font-weight: bold;
}
.contenedor {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  color: #fff;
  width: 100%;
  max-width: 500px;
  backdrop-filter: blur(6px);
}
.contenedor form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contenedor label {
  font-weight: bold;
  font-size: 1rem;
}
.contenedor input,
.contenedor select {
  padding: 10px 14px;
  border-radius: 8px;
  border: none;
  background-color: #ffffff10;
  color: #fff;
  font-size: 1rem;
  transition: all 0.3s ease;
}
.contenedor input:focus,
.contenedor select:focus {
  outline: none;
  border: 1px solid #00c6ff;
  background-color: #353131a8;
  font-weight: bold;
}
.contenedor button {
  background-color: #0072ff;
  color: #fff;
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s ease;
}
.contenedor button:hover {
  background-color: #005fc1;
}





/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 270px;
  background: #fff;
  padding: 15px 10px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease;
}
.sidebar.close {
  width: calc(55px + 20px);
}
.brand{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.7rem;
    padding-left: 0.455rem;
    margin-bottom: 1.8rem;
    overflow: hidden;
}
.brand img{
    width: 15rem;
}
.sidebar.close .logo_name,
.sidebar.close #lock-icon,
.sidebar.close #sidebar-close {
  opacity: 0;
  pointer-events: none;
}
#lock-icon,
#sidebar-close {
  padding: 10px;
  color: #4070f4;
  font-size: 25px;
  cursor: pointer;
  margin-left: -4px;
  transition: all 0.3s ease;
}
#sidebar-close {
  display: none;
  color: #333;
}
.menu_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 40px;
  overflow-y: auto;
  height: calc(100% - 82px);
}
.menu_container::-webkit-scrollbar {
  display: none;
}
.menu_title {
  position: relative;
  height: 50px;
  width: 55px;
}
.menu_title .title {
  margin-left: 15px;
  transition: all 0.3s ease;
}
.sidebar.close .title {
  opacity: 0;
}
.menu_title .line {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  width: 20px;
  border-radius: 25px;
  background: #aaa;
  transition: all 0.3s ease;
}
.menu_title .line {
  opacity: 0;
}
.sidebar.close .line {
  opacity: 1;
}
.item {
  list-style: none;
}
.link {
  text-decoration: none;
  border-radius: 8px;
  margin-bottom: 8px;
  color: #707070;
}
.link:hover {
  color: #fff;
  background-color: #4070f4;
}
.link span {
  white-space: nowrap;
}
.link i {
  height: 50px;
  min-width: 55px;
  display: flex;
  font-size: 22px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}
.sidebar_profile {
  padding-top: 15px;
  margin-top: 15px;
  gap: 15px;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
}
.sidebar_profile .name {
  font-size: 18px;
  color: #333;
}
.sidebar_profile .email {
  font-size: 15px;
  color: #333;
}
/* Navbar */
.navbar {
  max-width: 500px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 60%;
  transform: translateX(-50%);
  background: #fff;
  padding: 10px 20px;
  border-radius: 0 0 8px 8px;
  justify-content: space-between;
}
#sidebar-open {
  font-size: 30px;
  color: #333;
  cursor: pointer;
  margin-right: 20px;
  display: none;
}
.search_box {
  height: 46px;
  max-width: 500px;
  width: 100%;
  border: 1px solid #aaa;
  outline: none;
  border-radius: 8px;
  padding: 0 15px;
  font-size: 18px;
  color: #333;
}
.navbar img {
  height: 40px;
  width: 40px;
  margin-left: 20px;
}