*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --primario:#2c2c2c;
  --secundario:linear-gradient(to right, #0072ff, #00c6ff);
  --fondo:linear-gradient(-45deg, #141e30, #243b55, #141e30, #243b55);
  --fondo-header:#262a66;
  --fondo-formulario:rgba(255 255 255 / 0.07);
  --sombra:#3d3838;
  --tipografia:Arial, sans-serif;
}

body{
  display: grid;
  grid-gap: 20px;
  background-color: red;
}